.section-hero {
    display: flex;
    margin: $spacing auto;
    .wrapper-section-hero-title {
        width: 50%;
    }
    .img-illustration-main {
        width: 50%;
    
        img {
            width: 100%;
        }
    }

    h1 {
        color:$secondary_color;
        font-size: ($font-size * 2);
        font-weight: bold;
    
        margin-bottom: math.div($spacing, 3);
    }

    h3 {
        font-size: $font-size;
        font-weight: bold;
        color:$secondary_color;
        margin-bottom: $spacing * 2;
    }

    button {
        margin-bottom: $spacing;
        padding: math.div($spacing, 4);
    
        border-radius: $button_border_radius;
        border: 1px solid $primary_color_Button;
        color: #fff;
        background-color:$primary_color_Button;

        img {
            width: $spacing;
            vertical-align: middle;
        }
        p {
            vertical-align: middle;
            display: inline-block;
            cursor: pointer;
            font-weight: bold;
            font-size: $font-size - 2px;

        }
        &:hover {
            color: #fff;
            border: 1px solid $hover_Button;
            background-color: $hover_Button;
        }
        
    }
    
    .wrapper-section-hero-title  {
        .paragraph-small {
            font-size: $font-size - 4px;
            color: $secondary_color;
            cursor: pointer;
        }
        span {
            font-size: $font-size - 4px;
        }
    }
}