$font-family: 'Open Sans', sans-serif;
$font-size: 14px;
$line_height: 2.5;

// $primary_color: #4B4A5A;
// $secondary_color: #ac5440;
// $background_color: #f6e2d5;
// $hover: #d7a43d;

//cambio Palette
$primary_color: #3e14e9;
$secondary_color: #0e14ee;
$background_color: #0414b3;
$hover:#7f14d4;


$spacing: 20px;

$primary_color_Button: #0414B3;
$hover_Button: #0e14ee;

$button_border_radius: 5px;