$font-family: 'Open Sans', sans-serif;
$primary_color: #4B4A5A;
$secondary_color: #58402d;

$background_color: #f6e2d5;
$hover: #d7a43d;
$spacing: 20px;
$font-size: 14px;
$primary_color_Button: #0414B3;
$hover_Button: #0e14ee;
$button_border_radius: 5px;

@import "partials/commons";
@import "partials/header";

.section-hero {
    display: flex;
    margin: $spacing auto;

    

    .img-illustration-main {
        width: 400px;
    
        img {
            width: 100%;
        }
    }

    h1 {
        color:$secondary_color;
        font-size: $font-size *2;
        font-weight: bold;
        margin-bottom: $spacing/3;
    }

    h3 {
        font-size: $font-size;
        font-weight: bold;
        color:$secondary_color;
        margin-bottom: $spacing;
    }

    button {
        
        padding: $spacing /4;
        margin: $spacing/2 0;
        border-radius: $button_border_radius;
        border: 1px solid $primary_color_Button;
        color: #fff;
        background-color:$primary_color_Button;

        img {
            width: $spacing;
            vertical-align: middle;
        }
        p {
            vertical-align: middle;
            display: inline-block;
            font-weight: bold;
            font-size: $font-size - 2px;

        }
        &:hover {
            color: #fff;
            border: 1px solid $hover_Button;
            background-color: $hover_Button;
        }
        
    }
    
    .wrapper-section-hero-title  {

        .paragraph-small {
            font-size: $font-size - 4px;
        }
        span {
            font-size: $font-size - 4px;

        }
    }
}
.wrapper-section-before {
    background-color: $background_color;

    .section-before {
        text-align: center;
        margin:$spacing auto;
        border-bottom: 2px solid $secondary_color;
        max-width: 920px;
    
    
        .img-before-wrapper {
            width: $spacing * 13;
            text-align: center;
            margin: auto;
            margin-bottom: $spacing * 2;
            img {
                width: 100%;
            }
    
        }
        .icons-wrapper {
            display: flex;
            justify-content: space-around;
            img {
                width: $spacing * 5;
        
            }
        }
        
    }
}